 <!DOCTYPE html>
<html>
<head>
    <title>Live News Detection</title>
    <style>
        body {
            font-family: Arial;
            padding: 30px;
            background: #f5f5f5;
        }

        .card {
            background: white;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px gray;
        }
    </style>
</head>
<body>

    <h1>🔴 Live News Detection Results</h1>

    {% for item in results %}
    <div class="card">
        <h2>{{ item.title }}</h2>
        <p><b>Prediction:</b> {{ item.prediction }}</p>
        <p><b>Category:</b> {{ item.category }}</p>
        <p><b>Confidence:</b> {{ item.confidence }}%</p>
    </div>
    {% endfor %}

    <a href="/">⬅ Back to Home</a>

</body>
</html>